<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet Plan</title>
    <link rel="stylesheet" href="/diet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div id="main-container">
        <div id=sidebar>
            <div id="logo-div"><img id="logo" src="Galvanize Ai 4 copy.png" alt="" /></div>
            <div id="links-div">
                <ul id="links-list">
                    <a href="/dashboard" class="item">
                        <li class="item"><span class="list-svg material-symbols-outlined">
                            grid_view
                            </span>   Dashboard
                        </li>
                    </a>
                    <li class="item">
                        <span class="list-svg material-symbols-outlined">
                        trending_up
                        </span>   Progress
                    </li>
                    <a href="/workout" class="item">
                        <li class="item">
                            <span class="list-svg material-symbols-outlined">
                            exercise
                            </span>   Workout
                        </li>
                    </a>
                    <a href="/diet" class="item">
                        <li class="item">
                            <span class="list-svg material-symbols-outlined">
                            restaurant
                            </span>   Diet
                        </li>
                    </a>
                    <a href="/nutrition" class="item">
                        <li class="item">
                            <span class="list-svg material-symbols-outlined">
                                pill
                                </span>   Nutrition
                        </li>
                    </a>
                    <li class="item">
                        <span class="list-svg material-symbols-outlined">
                            live_help
                        </span>   Help
                    </li>
                </ul>
              </div>
            <div id="logout-div">
                <span class="list-svg material-symbols-outlined">
                    logout
                    </span>
                <p class="item" id="logout">Logout</p>
            </div>
        </div>
        <div id="content">
            <div id="diet-plan">
                <div id="plan-header">
                    <p><%= user.dietPlan.title %></p>
                </div>
                <div id="plan-body">
                    <p><%= user.dietPlan.body %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>