<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/error.css">
  </head>
  <body>
    <div id="main-content">
      <div id="error-content">
        <p id="error-header">404</p>
        <p id="error-text">Oops! Looks like an error has occured. This page either does not exist or you are not signed in! Find your way back with one of these buttons. Thank you</p>
        <div id="links">
          <a id="back-btn" href="/">Back</a>
          <a id="login-btn" href="/login">Login</a>
          <a id="signup-btn" href="/signup">Sign Up</a>
        </div>
      </div>
      <div id="error-img-div">
        <img id="error-img" src="https://images.pexels.com/photos/288100/pexels-photo-288100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
      </div>
    </div>
  </body>
</html>
