<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health</title>
    <link rel="stylesheet" href="/goals.css">
    <script src="/goalsScript.js" defer></script>
</head>
<body>
    <div id="main-container">
        <div id="header-div">
            <div id="logo-div">
                <a id="logo-link" href="">
                    <img id="logo" src="Galvanize logo.png" alt="" />
                </a>
            </div>
        </div>
        <div id="body-div">
            <div id="content">
                <form action="/goals-info" method="POST">
                    <div class="health-slide" id="health1">
                        <div id="health1-header-div">
                            <p id="health1-header">Awesome! Now let's learn about your goals</p>
                            <p id="health1-subheader">What do you want to achieve?</p>
                        </div>
                </form>
            </div>
        </div>
        <div id="footer-div">                
            <img id="footer-img"src="https://images.pexels.com/photos/1153655/pexels-photo-1153655.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        </div>
    </div>
</body>
</html>