<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health</title>
    <link rel="stylesheet" href="/goals.css">
    <script src="/goalsScript.js" defer></script>
</head>
<body>
    <div id="main-container">
        <div id="header-div">
            <div id="logo-div">
                <a id="logo-link" href="">
                    <img id="logo" src="Galvanize logo.png" alt="" />
                </a>
            </div>
        </div>
        <div id="body-div">
            <div id="content">
                <form action="/goals-info/<%= user._id%>" method="POST">
                    <div class="goals-slide" id="goals1">
                        <div id="goals1-header-div">
                            <p id="goals1-header">Awesome! Now let's learn about your goals</p>
                            <p id="goals1-subheader">What do you want to achieve?</p>
                        </div>
                        <div class="goals-q-div" id="goals1-q-div">
                            <label for="overall" class="goals-q-label">
                                Describe your overall health and fitness goals
                            </label>
                            <textarea required id="overall" name="overall" class="goals-q-input" type="text" rows="4" cols="10"></textarea>
                        </div>
                    </div>
                    <div class="goals-slide" id="goals2">
                        <div class="goals-q-div" id="goals2-q-div">
                            <label for="strength" class="goals-q-label">
                                Describe your strength goals
                            </label>
                            <textarea required id="strength" name="strength" class="goals-q-input" type="text" rows="4" cols="10"></textarea>
                        </div>
                    </div>
                    <div class="goals-slide" id="goals3">
                        <div class="goals-q-div" id="goals3-q-div">
                            <label for="weight" class="goals-q-label">
                                Describe your weight goals
                            </label>
                            <textarea required id="weight" name="weight" class="goals-q-input" type="text" rows="4" cols="10"></textarea>
                        </div>
                    </div>
                    <div class="goals-slide" id="goals4">
                        <div class="goals-q-div" id="goals4-q-div">
                            <label for="other" class="goals-q-label">
                                Describe any other health and fitness goals you have
                            </label>
                            <textarea required id="other" name="other" class="goals-q-input" type="text" rows="4" cols="10"></textarea>
                        </div>
                    </div>
                    <div class="goals-btns">
                        <button id="back" class="back" type="button">Back</button>
                        <button id="continue" class="continue" type="button">Continue</button>
                        <button id="submit" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="footer-div">                
            <img class="footer-img"src="https://images.unsplash.com/photo-1577003833154-a92bbd63ae13?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        </div>
    </div>
    <div id="loading-main-container">
        <div id="loading-content">
            <p id="loading-header">Crafting your health and fitness plan...</p>
            <p id="loading-disclaimer">This may take a few minutes</p>
            <div class="loader"></div>
        </div>
        <div id="loading-footer-div">
            <img class="footer-img" src="https://images.unsplash.com/photo-1577003833154-a92bbd63ae13?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
        </div>
    </div>
</body>
</html>