<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health</title>
    <link rel="stylesheet" href="/health.css">
    <script src="/healthScript.js" defer></script>
</head>
<body>
    <div id="main-container">
        <div id="header-div">
            <div id="logo-div">
                <a id="logo-link" href="">
                    <img id="logo" src="Galvanize logo.png" alt="" />
                </a>
            </div>
        </div>
        <div id="body-div">
            <div id="content">
                <form action="/healt-info" method="POST">
                    <div class="health-slide" id="health1">
                        <div id="health1-header-div">
                            <p id="health1-header">Welcome! Let's create your profile</p>
                            <p id="health1-subheader">Let's get to know you better</p>
                        </div>
                        <div class="health-q-div" id="health1-q-div">
                            <p class="health-q-label">Add your age</p>
                            <input class="health-q-input" type="text">
                        </div>
                    </div>
                    <div class="health-slide" id="health2">
                        <div class="health-q-div" id="health2-q-div">
                            <p class="health-q-label">Add your weight</p>
                            <input class="health-q-input" type="text">
                        </div>
                    </div>
                    <div class="health-btns">
                        <button id="back" class="back" type="button">Back</button>
                        <button id="continue" class="continue" type="button">Continue</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="footer-div">
                <img id="footer-img"src="https://images.pexels.com/photos/1410157/pexels-photo-1410157.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
            </div>
    </div>
</body>
</html>