<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galvanize Health AI</title>
    <script src="indexScript.js" defer></script>
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <div id="header">
      <div id="logo-div">
        <a href="#home"
          ><img
            src="Galvanize Ai 4 copy.png"
            id="logo"
            alt="Galvanize Health AI"
        /></a>
      </div>
      <div id="links-div">
        <ul id="links-list">
          <li id="exit"><a><span class="material-symbols-outlined">
            close
            </span></a></li>
          <li class="link"><a class="nav-link active" href="#home">Home</a></li>
          <li class="link"><a class="nav-link" href="#about">About</a></li>
          <li class="link">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <a class="nav-link" id="login-link" href="login"><li id="login">
            Login
          </li></a>
        </ul>
      </div>
      <div id="mobile">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="40"
          height="40"
          viewBox="0 0 50 50"
        >
          <path
            d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z"
          ></path>
        </svg>
      </div>
    </div>
    <div id="home">
      <div id="hero-content">
        <p id="jumpstart">Jump-Start <span>Your</span> Journey</p>
        <p id="hero-text">
          Galvanize Health is an AI powered health and fitness guide to help you
          plan, track, and achieve goals. Are you ready to galvanize your
          health?
        </p>
        <a id="get-started-a" href="signup"
          ><span id="get-started">Get Started</span></a
        >
      </div>
      <div id="hero-photo-div">
        <img
          id="hero-photo"
          src="https://images.pexels.com/photos/3822193/pexels-photo-3822193.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="health and fitness"
        />
      </div>
    </div>
    <div id="about">
      <div id="about-header">
        <p id="about-header-text">About us</p>
      </div>
      <div id="our-mission">
        <p class="header">We Create Personal Paths to Wellness</p>
        <p id="content">
          At Galvanize Health AI, we're on a mission to to empower you to lead a
          healthier, happier, and more vibrant life. We believe that everyone
          deserves access to personalized, science-based solutions for their
          fitness and health goals.
        </p>
      </div>
      <div id="why-img-div">
        <img
          src="https://images.pexels.com/photos/1547248/pexels-photo-1547248.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="health and fitness"
        />
      </div>
      <div id="why">
        <div id="why-header">
          <p class="header">
            <span class="your">Your </span>Health,
            <span class="your">Your </span> Way
          </p>
        </div>
        <div id="why-content">
          <p class="content">
            In a world filled with generic health and fitness advice, we saw a
            need for something different – a solution that recognizes the
            uniqueness of each individual. Our founders understood that no two
            people are alike, and their health and wellness journeys shouldn't
            be either.
          </p>
          <p class="content">
            Our commitment to personalization is at the core of everything we
            do. We've harnessed the incredible potential of AI to craft health
            and fitness plans that are tailor-made for you. Whether you're
            aiming to shed a few pounds, build strength, or simply feel your
            best, we're here to help you get there in a way that's uniquely
            yours.
          </p>
          <p class="content">
            Take the first step towards a healthier, happier you. Sign up with
            Galvanize Health AI and embark on a journey that's all about you.
            We're excited to be a part of your story. Welcome to the future of
            wellness!
          </p>
        </div>
      </div>
      <div id="images-div">
        <div class="image-container">
          <img
            src="https://images.pexels.com/photos/543730/pexels-photo-543730.jpeg"
            alt="health and fitness"
          />
        </div>
        <div class="image-container">
          <img
            src="https://images.unsplash.com/photo-1622818426197-d54f85b88690?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1760&q=80"
            alt="health and fitness"
          />
        </div>
        <div class="image-container">
          <img
            src="https://images.pexels.com/photos/3873143/pexels-photo-3873143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="health and fitness"
          />
        </div>
      </div>
      <div id="more">
        <div id="more1" class="more-section">
          <div class="img-container">
            <span class="material-symbols-outlined"> exercise </span>
          </div>
          <div class="more-header">
            <p class="more-header-p">The Power of Personalization</p>
          </div>
          <div class="more-content">
            <p class="more-content-p">
              Our commitment to personalization is at the core of everything we
              do. We've harnessed the incredible potential of AI to craft health
              and fitness plans that are tailor-made for you. Whether you're
              aiming to shed a few pounds, build strength, or simply feel your
              best, we're here to help you get there.
            </p>
          </div>
        </div>
        <div id="more2" class="more-section">
          <div class="img-container">
            <span class="material-symbols-outlined"> bolt </span>
          </div>
          <div class="more-header">
            <p class="more-header-p">Expertise Meets Innovation</p>
          </div>
          <div class="more-content">
            <p class="more-content-p">
              We're not just a tech company; we're a team of passionate health
              and fitness enthusiasts who are dedicated to your success. Our
              expert team of nutritionists, fitness trainers, and AI engineers,
              works tirelessly to ensure that you receive top-notch guidance and
              scientifically sound advice.
            </p>
          </div>
          <div class="img-container"></div>
        </div>
        <div id="more3" class="more-section">
          <div class="img-container">
            <span class="material-symbols-outlined"> nutrition </span>
          </div>
          <div class="more-header">
            <p class="more-header-p">A Continuous Journey</p>
          </div>
          <div class="more-content">
            <p class="more-content-p">
              Your health journey is not just a one-time event; it's a lifelong
              pursuit. Galvanize Health AI is your steadfast companion, adapting
              and evolving with you as your goals and needs change. With our
              support, you can stay committed, motivated, and on the path to
              lifelong health.
            </p>
          </div>
        </div>
        <div id="more-get-started-div">
          <a id="more-get-started" href="signup">Get Started</a>
        </div>
      </div>
    </div>
    <div id="services">
      <div id="services-intro">
        <p id="services-header">Services</p>
        <p id="services-content-header">
          All your health and fitness needs under one friendly roof
        </p>
        <p id="services-content">
          Galvanize Health AI is your personal wellness concierge, offering a
          range of services designed to transform your health journey into a
          personalized and efficient experience. Our cutting-edge AI-driven
          platform is here to assist you with tailored diet plans, smart
          supplementation, nutrition guidance, and precisely crafted workout
          regimens.
        </p>
      </div>
      <div id="services-container">
        <div class="service">
          <div class="service-title-div">
            <p>Fitness</p>
          </div>
          <div class="service-bullets">
            <ul>
              <li>Personalized workouts and exercises</li>
              <li>Detailed schedule</li>
              <li>Adjustable and modifyable</li>
              <li>Assistance and instruction</li>
              <li>Progress Tracking</li>
              <li>Downloadable</li>
              <li>Completely free</li>
            </ul>
          </div>
          <div class="service-cta">
            <a href="signup">Create Plan</a>
          </div>
        </div>
        <div class="service">
          <div class="service-title-div">
            <p>Diet</p>
          </div>
          <div class="service-bullets">
            <ul>
              <li>Personalized diet plan</li>
              <li>Diverse Meal options</li>
              <li>Comprehensive recipes</li>
              <li>Adjustable and modifyable</li>
              <li>Prep assistance and instruction</li>
              <li>Downloadable</li>
              <li>Completely free</li>
            </ul>
          </div>
          <div class="service-cta">
            <a href="signup">Create Plan</a>
          </div>
        </div>
        <div class="service">
          <div class="service-title-div">
            <p>Nutrition</p>
          </div>
          <div class="service-bullets">
            <ul>
              <li>Personalized nutrition and supplemenation</li>
              <li>Detailed nutrition targets</li>
              <li>Recommended supplementation</li>
              <li>Brand suggestion</li>
              <li>Adjustable and modifyable</li>
              <li>Downloadable</li>
              <li>Completely free</li>
            </ul>
          </div>
          <div class="service-cta">
            <a href="signup">Create Plan</a>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="footer-logo">
        <a><img src="Galvanize logo.png" id="footer-logo-img" alt="Galvanize Health AI" /></a>
      </div>
      <div id="footer-links">
        <a href="#home">Home</a>
        <a href="#about">About us</a>
        <a href="#why">Why us</a>
        <a href="#more">Mission</a>
        <a href="#services">Services</a>
        <a href="#services-container">Fitness</a>
        <a href="#services-container">Diet</a>
        <a href="#services-container">Nutrition</a>
      </div>
      <div id="footer-socials">
        <div id="twitter">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="50"
            height="50"
            viewBox="0 0 50 50"
          >
            <path
              d="M 11 4 C 7.1456661 4 4 7.1456661 4 11 L 4 39 C 4 42.854334 7.1456661 46 11 46 L 39 46 C 42.854334 46 46 42.854334 46 39 L 46 11 C 46 7.1456661 42.854334 4 39 4 L 11 4 z M 11 6 L 39 6 C 41.773666 6 44 8.2263339 44 11 L 44 39 C 44 41.773666 41.773666 44 39 44 L 11 44 C 8.2263339 44 6 41.773666 6 39 L 6 11 C 6 8.2263339 8.2263339 6 11 6 z M 13.085938 13 L 22.308594 26.103516 L 13 37 L 15.5 37 L 23.4375 27.707031 L 29.976562 37 L 37.914062 37 L 27.789062 22.613281 L 36 13 L 33.5 13 L 26.660156 21.009766 L 21.023438 13 L 13.085938 13 z M 16.914062 15 L 19.978516 15 L 34.085938 35 L 31.021484 35 L 16.914062 15 z"
            ></path>
          </svg>
        </div>
        <div id="instagram">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="50"
            height="50"
            viewBox="0 0 32 32"
          >
            <path
              d="M 11.46875 5 C 7.917969 5 5 7.914063 5 11.46875 L 5 20.53125 C 5 24.082031 7.914063 27 11.46875 27 L 20.53125 27 C 24.082031 27 27 24.085938 27 20.53125 L 27 11.46875 C 27 7.917969 24.085938 5 20.53125 5 Z M 11.46875 7 L 20.53125 7 C 23.003906 7 25 8.996094 25 11.46875 L 25 20.53125 C 25 23.003906 23.003906 25 20.53125 25 L 11.46875 25 C 8.996094 25 7 23.003906 7 20.53125 L 7 11.46875 C 7 8.996094 8.996094 7 11.46875 7 Z M 21.90625 9.1875 C 21.402344 9.1875 21 9.589844 21 10.09375 C 21 10.597656 21.402344 11 21.90625 11 C 22.410156 11 22.8125 10.597656 22.8125 10.09375 C 22.8125 9.589844 22.410156 9.1875 21.90625 9.1875 Z M 16 10 C 12.699219 10 10 12.699219 10 16 C 10 19.300781 12.699219 22 16 22 C 19.300781 22 22 19.300781 22 16 C 22 12.699219 19.300781 10 16 10 Z M 16 12 C 18.222656 12 20 13.777344 20 16 C 20 18.222656 18.222656 20 16 20 C 13.777344 20 12 18.222656 12 16 C 12 13.777344 13.777344 12 16 12 Z"
            ></path>
          </svg>
        </div>
        <div id="linkedIn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="50"
            height="50"
            viewBox="0 0 50 50"
          >
            <path
              d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"
            ></path>
          </svg>
        </div>
        <div id="facebook">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="50"
            height="50"
            viewBox="0 0 16 16"
          >
            <path
              d="M 7.5 1 C 3.9160714 1 1 3.9160714 1 7.5 C 1 11.083929 3.9160714 14 7.5 14 C 11.083929 14 14 11.083929 14 7.5 C 14 3.9160714 11.083929 1 7.5 1 z M 7.5 2 C 10.543488 2 13 4.4565116 13 7.5 C 13 10.266333 10.967571 12.541024 8.3125 12.933594 L 8.3125 9.0898438 L 9.8652344 9.0898438 L 10.109375 7.5136719 L 8.3125 7.5136719 L 8.3125 6.6503906 C 8.3125 5.9953906 8.5256719 5.4140625 9.1386719 5.4140625 L 10.123047 5.4140625 L 10.123047 4.0371094 C 9.9500469 4.0141094 9.5845781 3.9628906 8.8925781 3.9628906 C 7.4485781 3.9628906 6.6015625 4.7258906 6.6015625 6.4628906 L 6.6015625 7.5117188 L 5.1171875 7.5117188 L 5.1171875 9.0898438 L 6.6035156 9.0898438 L 6.6035156 12.919922 C 3.9897868 12.492118 2 10.237066 2 7.5 C 2 4.4565116 4.4565116 2 7.5 2 z"
            ></path>
          </svg>
        </div>
      </div>
      <div id="footer-extras">
        <p>© 2023 Galvanize</p>
        <p>Terms</p>
        <p>Privacy</p>
        <p>Cookies</p>
        <p>Jobs</p>
        <p>Tags</p>
        <p>Places</p>
        <p>Resources</p>
      </div>
    </div>
  </body>
</html>
