<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="/loading.css">
</head>
<body>
    <div id="loading-main-container">
        <div id="loading-content">
            <p id="loading-header">Crafting your health and fitness plan...</p>
            <div class="loader"></div>
        </div>
        <div id="loading-footer-div">
            <img id="loading-footer-img" src="https://images.pexels.com/photos/7130541/pexels-photo-7130541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" >
        </div>
    </div>
</body>
</html>