<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galvanize Health AI</title>
    <link rel="stylesheet" href="/login.css" />
    <script src="/loginScript.js" defer></script>
  </head>
  <body>
    <div id="main-container">
      <div id="sidebar-image">
        <img id="logo" src="white Galvanize logo.png" alt="" />
        <img
          id="sidebar-img"
          src="https://images.pexels.com/photos/2803158/pexels-photo-2803158.jpeg"
          alt=""
        />
      </div>
      <div id="authentication-content">
        <div id="sign-in">
          <div id="sign-up-header-div">
            <p class="questions-header">Sign in to Galvanize Health</p>
          </div>
          <button id="sign-in-with-google">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="25"
              height="25"
              viewBox="0 0 48 48"
            >
              <path
                fill="#fbc02d"
                d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
              ></path>
              <path
                fill="#e53935"
                d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
              ></path>
              <path
                fill="#4caf50"
                d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
              ></path>
              <path
                fill="#1565c0"
                d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
              ></path>
            </svg>
            <p>Sign In with Google</p>
          </button>
          <div class="divider-div">
            <hr class="divider" data-content="or sign in with email" />
          </div>
          <div id="sign-in-form">
            <form id="login-form" action="/login" method="POST">
            <fieldset class="login" id="username">
              <label class="login-label" for="username"
                >Username or Email</label
              >
              <input
                class="login-input"
                type="text"
                name="username"
                id="username-input"
                autocapitalize="off"
                autocorrect="off"
              />
            </fieldset>
            <fieldset class="login" id="password">
              <label id="password-label" class="login-label" for="password"
                >Password<a id="forgot" href="index">Forgot?</a></label
              >
              <input
                class="login-input"
                type="password"
                name="password"
                id="password-input"
              />
              <% if (req.session.messages) { %>
                <p id="validation" class="error-message"><%= req.session.messages %></p>
                <% req.session.messages = []; %>
              <% } %>
            </fieldset>
          </div>
          <button type="submit" class="sign-up-black">Sign In</button>
        </form>
          <p class="already">
            Don't have an account?
            <a href="signup" id="sign-up-span">Sign up</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
