<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galvanize Health AI</title>
    <link rel="stylesheet" href="/signup.css" />
    <script src="/signupScript.js" defer ></script>
  </head>
  <body>
    <div id="main-container">
      <button id="back-btn"><?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "/></svg></button>
      <div id="sidebar-image">
        <img id="logo" src="white Galvanize logo.png" alt="">
        <img id="sidebar-img"
          src="https://images.pexels.com/photos/4348638/pexels-photo-4348638.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="health and fitness"
        />
      </div>
      <div id="authentication-content">
        <div id="sign-up">
          <div class="sign-up-header-div">
            <p class="questions-header">Sign Up to Galvanize Health</p>
          </div>
          <button class="sign-up-black">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="25"
              height="25"
              viewBox="0 0 48 48"
            >
              <path
                fill="#fbc02d"
                d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
              ></path>
              <path
                fill="#e53935"
                d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
              ></path>
              <path
                fill="#4caf50"
                d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
              ></path>
              <path
                fill="#1565c0"
                d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
              ></path>
            </svg>
            <p>Sign Up with Google</p>
          </button>
          <div class="divider-div">
            <hr class="divider" data-content="or" />
          </div>
          <button id="sign-up-white" class="sign-up-white">Continue with email</button>
          <p class="terms">
            By creating an account you agree with our Terms of Service, Privacy
            Policy, and our default Notification Settings.
          </p>
          <p class="already">
            Already have an account?
            <a href="login" id="sign-in-span">Sign In</a>
          </p>
        </div>
        <div id="sign-up-email">
          <div class="sign-up-header-div">
            <p class="questions-header">Sign Up to Galvanize Health</p>
          </div>
          <form class="new-user-form" action="" accept-charset="UTF-8" method="post">
          <div class="form-field-group">
            <div class="form-field first-field">
              <fieldset id="name-field" class="input-field"><label for="user-name">Name</label><input autocomplete="name" class="text-input" type="text" name="user[name]" id="user-name"></fieldset>
            </div>
            <div class="form-field first-field">
              <fieldset class="input-field"><label for="user_login">Username</label><input autocorrect="off" autocapitalize="off" autocomplete="username" class="text-input" type="text" name="user[login]" id="user_login"></fieldset>
            </div>
          </div>
          <div class="form-field">
            <fieldset class="input-field"><label for="user-email">Email</label><input class="text-input" type="text" name="user[email]" id="use-_email"></fieldset>
          </div>
          <div class="form-field">
            <fieldset class="input-field"><label for="user-password">Password</label><input class="text-input" placeholder="6+ characters" type="password" name="user[password]" id="user-password"></fieldset>
          </div>
          <div class="form-field">
            <fieldset id="agreement-field">
              <input type="checkbox" id="user-agreement" name="user[agree_to_terms]">
              <label id="user-agreement-label"for="user-agreement">
                I agree with Dribbble's
                <a target="_blank" href="">Terms of Service</a>,
                <a target="_blank" href="">Privacy Policy</a>, and default
                <a target="_blank" href="">Notification Settings</a>.
              </label>
            </fieldset>
          </div>
          <div class="form-btns">
            <button type="submit" data-disable-with="Create Account">Create Account</button>
          </div>
        
          <p class="already">
            Already have an account?
            <a href="login" id="sign-in-span">Sign In</a>
          </p>
        
          <p class="recap-terms">
            This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
          </p>
        </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
