* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-container {
  display: grid;
  grid-template-rows: minmax(75px, 1fr) 6fr minmax(100px, 1fr);
  height: 100vh;
}

#header-div {
  grid-row: 1 / 2;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}

#logo-div {
  padding: 24px 24px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo-link {
  position: relative;
  overflow: hidden;
}

#logo-link:hover {
  cursor: pointer;
}

#logo {
  width: 200px;
  height: 200px;
  position: relative;
  top: -50px;
}

#body-div {
  grid-row: 2 / 3;
  height: 100%;
  display: flex;
  justify-content: center;
}

#content {
  min-width: 600px;
  padding: 40px 20px;
  font-family: 'Mona Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  transition: 1s ease-in-out;
}

.goals-btns {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}

.continue {
  padding: 10px 20px;
  border-radius: 9999999px;
  font-size: 13px;
  font-weight: 600;
  background: #0d0c22;
  color: #fff;
  height: 48px;
  border: none;
  text-align: center;
}

.continue:hover {
  background-color: rgb(80, 80, 80);
  cursor: pointer;
}

.back {
  display: none;
  border: 1.5px solid #e7e7e9;
  background-color: #fff;
  box-shadow: none;
  color: #0d0c22;
  line-height: 16px;
  padding: 10px 20px;
  border-radius: 9999999px;
  font-size: 13px;
  font-weight: 600;
  margin-right: 24px;
  height: 48px;
}

#submit {
  display: none;
  padding: 10px 20px;
  border-radius: 9999999px;
  font-size: 13px;
  font-weight: 600;
  background: #0d0c22;
  color: #fff;
  height: 48px;
  border: none;
  text-align: center;
}

#submit:hover {
  background-color: rgb(80, 80, 80);
  cursor: pointer;
}

.back:hover {
  cursor: pointer;
  border: 1.5px solid #d5d5d5;
}

#goals1 {
  display: flex;
}

#goals2 {
  display: none;
}

#goals3 {
  display: none;
}

#goals4 {
  display: none;
}

.goals-slide {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  width: 100%;
}

#goals1-header {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25em;
}

#goals1-subheader {
  margin-top: 17px;
  color: #6e6d7a;
  font-size: 16px;
  line-height: 24px;
}

.goals-q-label {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.goals-q-input {
  margin-top: 20px;
  font-size: 17px;
  color: #000;
  font-family: 'Mona Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 28px;
  border: none;
  border: 1px solid #e0e0e0;
  width: 100%;
}

.goals-q-input:focus {
  border-bottom: 1px solid rgba(8, 129, 120, 0.4);
  box-shadow: 0 0 0 4px rgba(8, 129, 120, 0.1);
  outline: none;
}

.goals-q-input:focus-visible {
  border-color: rgba(8, 129, 120, 0.4);
  box-shadow: 0 0 0 4px rgba(8, 129, 120, 0.1);
  outline: none;
}

#footer-div {
  height: 100%;
  max-height: 100px;
  overflow: hidden;
  z-index: 999;
}

.footer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25% 45%;
}

/* loading stuff */
#loading-main-container {
  display: none;
  grid-template-rows: 6fr minmax(100px, 1fr);
  height: 100vh;
}

#loading-content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding-top: 150px;
}

#loading-header {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}

.loader {
  border: 16px solid rgb(244, 244, 251); /* Light grey */
  border-top: 16px solid rgba(8, 129, 120, 1); /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-footer-div {
  grid-row: 3 / 4;
  height: 100%;
  max-height: 100px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#loading-footer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25% 80%;
  /* transform: rotate(90deg); */
}
